$black: black;
$red: red;
$green: green;
$cyan: cyan;
$blue: blue;
$yellow: yellow;
$magenta: magenta;
$white: white;
$orange: orange;
$amber: #ffbf00;
$grey: grey;

.black { color: $black !important }
.red, .error { color: $red !important }
.green { color: $green !important }
.cyan { color: $cyan !important }
.blue { color: $blue !important }
.yellow { color: $yellow !important }
.magenta { color: $magenta !important }
.white { color: $white !important }
.orange { color: $orange !important }
.amber { color: $amber !important }
.grey { color: $grey !important }

.bg-black { background-color: $black !important }
.bg-red, .bg-error { background-color: $red !important }
.bg-green { background-color: $green !important }
.bg-cyan { background-color: $cyan !important }
.bg-blue { background-color: $blue !important }
.bg-yellow { background-color: $yellow !important }
.bg-magenta { background-color: $magenta !important }
.bg-white { background-color: $white !important }
.bg-orange { background-color: $orange !important }
.bg-amber { background-color: $amber !important }
.bg-grey { background-color: $grey !important }

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 5px;
  border: 1px solid lightgrey;

  &.black {
    background-color: $black;
  }

  &.red {
    background-color: $red;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.green {
    background-color: $green;
  }

  &.cyan {
    background-color: $cyan;
  }

  &.blue {
    background-color: $blue;
  }

  &.magenta {
    background-color: $magenta;
  }

  &.white {
    background-color: $white;
  }

  &.orange {
    background-color: $orange;
  }

  &.amber {
    background-color: $amber;
  }
}
