<div *ngIf="gotIt" class="got-notification">GOT IT</div>

<app-header title="{{Klass}}"></app-header>

<ion-content>

    <form [formGroup]="form" (ngSubmit)="submitForm(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>

          <ion-col align-self-center size-xs="10" size-sm="8" size-md="6" size-lg="4">
            <div padding>
              <ion-item>
                <ion-radio-group  formControlName="level">
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label>Info</ion-label>
                        <ion-radio slot="start" value="Info" checked></ion-radio>
                      </ion-item>
                    </ion-col>

                    <ion-col>
                      <ion-item>
                        <ion-label>Warning</ion-label>
                        <ion-radio slot="start" value="Warning"></ion-radio>
                      </ion-item>
                    </ion-col>

                    <ion-col>
                      <ion-item>
                        <ion-label>Error</ion-label>
                        <ion-radio slot="start" value="Error"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-radio-group>
              </ion-item>
              <ion-item>
                <ion-input name="title" type="text" placeholder="Title" autocomplete="off" formControlName="title"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="text" type="textarea" placeholder="Text" autocomplete="off" formControlName="text"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center>
            <ion-button
              *ngIf="!isReadOnly"
              type="submit"
              [disabled]="!form.valid"
            >
              Submit
            </ion-button>

            <ion-button
              *ngIf="isReadOnly && (sessionService.currentUser?.can('update', 'Notification'))"
              (click)="enableForm()"
            >
              Edit
            </ion-button>

            <ion-button color="secondary"
              *ngIf="!isReadOnly"
              (click)="cancel()"
            >
              Cancel
            </ion-button>

            <ion-button color="danger"
              *ngIf="isReadOnly && sessionService.currentUser?.can('destroy', 'Notification')"
              (click)="delete($event)"
            >
              Delete
            </ion-button>
        </ion-row>
      </ion-grid>
    </form>

</ion-content>
