<div *ngIf="gotIt" class="got-audit-list">GOT IT</div>

<app-header title="{{Klasses}}"></app-header>

<ion-content>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
         <ion-searchbar
          placeholder="Search by name or email"
          [(ngModel)]="searchTerm"
          (ionChange)="search()"
          dbounce="500"
          ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="audit-types">
    Show the following audits:
    <div *ngFor="let type of auditTypes">
      <ion-label>{{type}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="includeAudits[type]" (ionChange)="inclusionChanged()"></ion-checkbox>
    </div>
    <hr />
  </div>


  <ion-list>
    <ion-item *ngFor="let item of data" class="cursor-pointer" (click)="selectItem(item.id)">
      <div class="item-date">{{item.createdAt | date: 'short'}}</div>
      <div class="item-performer">{{item.performedBy}}</div>
      <div class="item-event-type">
        <span class="item-event">{{item.event | titlecase}}</span>
        <br />
        <span class="item-type">{{item.itemType}}</span>
        {{item.item_string}}
      </div>
      <div class="item-changeset" [innerHTML]="item | prettyChangeset"></div>
      <!-- <div class="item-go"><ion-icon name="arrow-forward"></ion-icon></div> -->
    </ion-item>
  </ion-list>

  <div *ngIf="data.length < collectionSize; else endOfData">
    <div class="grey ion-padding">
      Scroll down or <a class="cursor-pointer" (click)="loadData()">click</a> for more {{klasses}}....
    </div>
  </div>
  <ng-template #endOfData>
    <div class="grey ion-padding">
      No more {{klasses}}.
    </div>
  </ng-template>

  <ion-infinite-scroll threshold="80%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more {{klasses}}...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
<ion-content>
