ion-item div {
  white-space: nowrap;
  padding-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audit-types {
  padding: 1rem;
  vertical-align: middle;

  div {
    padding: 0.5rem;
    margin: 1rem;
    display: inline-block;
  }

  ion-label {
    margin-right: 0.5rem;
  }

  ion-checkbox {
    vertical-align: middle;
  }
}
