hr {
  width: 80%;
  background: #eee;
}

ion-item div {
  white-space: nowrap;
  padding-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audit-types {
  padding: 1rem;
  vertical-align: middle;

  div {
    padding: 0.5rem;
    margin: 1rem;
    display: inline-block;
  }

  ion-label {
    margin-right: 0.5rem;
  }

  ion-checkbox {
    vertical-align: middle;
  }
}

.item-date {
  width: 15%;
}

.item-performer {
  width: 20%;
}

.item-event-type {
  width: 20%;
  overflow-x: scroll !important;

  .item-event {
    text-decoration: underline;
  }

  .item-type {
    font-weight: bold;
  }
}

.item-changeset {
  width: 35%;
  overflow-x: scroll !important;
}

.item-go {
  width: 10%;
  text-align: right;
}
