ion-item div {
  white-space: nowrap;
  padding-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-name {
  width: 35%;
}

.item-email {
  width: 35%;
}

.item-role {
  width: 20%;
}

.item-go {
  width: 10%;
}
