<div *ngIf="gotIt" class="got-user-list">GOT IT</div>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-button color="primary" (click)="newItem();"
          *ngIf="sessionService.currentUser?.can('create', 'User')">
          New {{Klass}}
        </ion-button>
      </ion-col>
      <ion-col size="12" size-sm>
        <input type="search" [(ngModel)]="searchTerm" (change)="search()" placeholder="Search by name or email">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let item of data">
      <div class="item-name">{{item.first_name}} {{item.last_name}}</div>
      <div class="item-email">{{item.email}}</div>
      <div class="item-role">{{item.role}}</div>
      <div class="item-go"><ion-icon name="arrow-forward"></ion-icon></div>
    </ion-item>
  </ion-list>
<ion-content>
<!--
<br />&nbsp;

<div *ngFor="let item of data">
  <mat-card class="list-card cursor-pointer list-item" fxLayoutAlign="center center" (click)="selectItem(item.id)" fxLayoutGap="5px">
    <div fxFlex="40%">
      {{item.first_name}} {{item.last_name}}
      <span *ngIf="usersBelongToCustomers && sessionService.currentUser?.can('access', 'sub_customers')">
        at {{item.customer_name}}
      </span>
    </div>
    <div fxFlex="30%">
      {{item.email}}
    </div>
    <div fxFlex="20%">
      {{item.role}}
    </div>
    <div fxFlex="10%">
      <i class="material-icons">navigate_next</i>
    </div>
  </mat-card>
</div>

<mat-paginator [length]="collectionSize" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChanged($event)"></mat-paginator> -->
