<div *ngIf="gotIt" class="got-user-list">GOT IT</div>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-button color="primary" (click)="newItem();"
          *ngIf="sessionService.currentUser?.can('create', 'User')">
          New {{Klass}}
        </ion-button>
      </ion-col>
      <ion-col size="12" size-sm>
         <ion-searchbar
          placeholder="Search by name or email"
          [(ngModel)]="searchTerm"
          (ionChange)="search()"
          dbounce="500"
          ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let item of data" class="cursor-pointer" (click)="selectItem(item.id)">
      <div class="item-name">{{item.first_name}} {{item.last_name}}</div>
      <div class="item-email">{{item.email}}</div>
      <div class="item-role">{{item.role}}</div>
      <div class="item-go"><ion-icon name="arrow-forward"></ion-icon></div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
<ion-content>
