<div *ngIf="gotIt" class="got-customer-list">GOT IT</div>

<app-header title="{{Klasses}}"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-button color="primary" (click)="newItem();"
          *ngIf="sessionService.currentUser?.can('create', 'User')">
          New {{Klass}}
        </ion-button>
      </ion-col>
      <ion-col size="12" size-sm>
         <ion-searchbar
          placeholder="Search by name"
          [value]="searchTerm"
          (ionChange)="search($event)"
          dbounce="500"
          ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let item of data" class="cursor-pointer" (click)="selectItem(item.id)">
      <div class="item-name"><div [outerHTML]="item.name"></div></div>
      <div class="item-city">{{item.city}}</div>
      <div class="item-go float-right"><ion-icon name="arrow-forward"></ion-icon></div>
    </ion-item>
  </ion-list>

  <div *ngIf="data.length < collectionSize; else endOfData">
    <div class="grey ion-padding">
      Scroll down or <a class="cursor-pointer" (click)="loadData()">click</a> for more {{klasses}}....
    </div>
  </div>
  <ng-template #endOfData>
    <div class="grey ion-padding">
      No more {{klasses}}.
    </div>
  </ng-template>

  <ion-infinite-scroll threshold="80%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more {{klasses}}...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
<ion-content>
