<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="center">
        <div>
          <img src="assets/images/logo.png" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="center">
        <h2 style="color: grey">Chirp chirp chirp!</h2><br />
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="4" size-lg="3" class="center">
        <form [formGroup]="form" (ngSubmit)="submitForm(form)">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col class="center">
                <ion-item>
                  <ion-input name="email" type="email" placeholder="your@email.com" required [ngClass]="{'red': invalidCreds}" autocomplete="off" formControlName="email" (input)="eraseErrors()"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col class="center">
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Password" required [ngClass]="{'red': invalidCreds}" autocomplete="off" formControlName="password" (input)="eraseErrors()"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center error ion-padding">
              <ion-col class="center">
                <div *ngIf="invalidCreds">
                  Sorry, we did not recognize your email address or password.
                </div>
                <div *ngIf="unknownError">
                  Sorry, an unknown error occurred.  Please try again later.
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col class="center">
                <ion-button type="submit" [disabled]="form.invalid" expand="block">Sign In</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>

<!--
    <ion-row class="ion-justify-content-center">
      <ion-col class="center">
        <a [routerLink]="['/password-reset-request']">Forgot your password?</a>
      </ion-col>
    </ion-row>
 -->
  </ion-grid>
</ion-content>
