.users {
  max-width: 67em;
  margin-left: auto;
  margin-right: auto;
}

ion-item div {
  white-space: nowrap;
  padding-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-name {
  width: 20em;
}

.item-customer-name {
  width: 20em;
}

.item-email {
  width: 15em;
}

.item-role {
  width: 10em;
}

.item-go {
  width: 2em;
}