<div *ngIf="sessionService; else loading">
  <mat-toolbar color="primary" *ngIf="this.sessionService?.isLoggedIn && showToolBar" fxLayoutAlign="space-between center">
    <i *ngIf="!opened" id="menu-icon" class="material-icons bolder" (click)="sidenav.toggle()">menu</i>
    <i *ngIf="opened" class="material-icons bolder" (click)="sidenav.toggle()">close</i>

    <div *ngIf="sessionService?.currentUser?.email != 'demo@null.com'">
      {{sessionService.currentUser.email}},
      {{sessionService.currentUser.role}}
      at
      {{sessionService.currentUser.customer_name}}
    </div>

    <div *ngIf="sessionService?.currentUser?.email == 'demo@null.com'">
      Guest User
    </div>
  </mat-toolbar>

  <app-anonymous-overlay *ngIf="allowAnonymousUsers && showToolBar"></app-anonymous-overlay>

  <mat-sidenav-container class="nice-padding">
    <mat-sidenav #sidenav position="start" (openedChange)="sidenavOpenedChange()" [fixedInViewport]="true">
      <app-menu (menuClick)="sidenav.close(); menuClick($event)" [opened]="opened"></app-menu>
      <br /><br />
      <div class="small grey">
        &nbsp;&nbsp;v{{version}}
      </div>
    </mat-sidenav>

    <mat-sidenav-content style="padding-left: -1rem">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #loading>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem">
    <br /><br />
    <img src="/assets/images/logo.png"/>

    <mat-spinner diameter="25"></mat-spinner>

    <h2 style="color: grey">Web Application</h2><br />
  </div>
</ng-template>
