.item-url {
  width: 60rem;
}

.item-time {
  text-align: right;
  width: 7rem;
}

.item-winner-new {
  text-align: right;
  width: 14rem;
}

.item-winner {
  text-align: right;
  width: 9rem;
}

.item-delete, .item-go {
  text-align: right;
  width: 3rem;
}

.deleted {
  text-decoration: line-through;
}
