<div *ngIf="gotIt" class="got-movies">GOT IT</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="secondary">
    <ion-icon name="arrow-dropup" (click)="top()"></ion-icon>
  </ion-fab-button>
</ion-fab>

<app-header title="{{Klasses}}"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-button id="top" color="primary" routerLink="/new-movies"
          *ngIf="sessionService.currentUser?.can('create', 'Movie')">
          New {{Klasses}}
        </ion-button>
      </ion-col>
      <ion-col size="12" size-sm>
         <ion-searchbar
          placeholder="Search by name"
          [(ngModel)]="searchTerm"
          (ionChange)="search()"
          dbounce="500"
          ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <div class="item-url">URL</div>
      <div class="item-time">Start</div>
      <div class="item-time">End</div>
      <div class="item-winner">Winnner</div>
      <div class="item-go"></div>
      <div class="item-delete"></div>
    </ion-item>

    <ion-item *ngFor="let item of data">
      <div class="item-url">
        <ion-input type="text" [(ngModel)]="item.url" (change)="change(item)"></ion-input>
        <div *ngIf="item['errorMessage']" class="red">
          {{item['errorMessage']}}
        </div>
        <ion-progress-bar *ngIf="item['processing']" type="indeterminate"></ion-progress-bar>
      </div>
      <div class="item-time">
        <ion-input [(ngModel)]="item.start" (change)="change(item)"></ion-input>
      </div>
      <div class="item-time">
        <ion-input [(ngModel)]="item.end" (change)="change(item)"></ion-input>
      </div>
      <div class="item-winner">
        <ion-select placeholder="Select One" [(ngModel)]="item.winner" (ionChange)="change(item)">
          <ion-select-option value="ROJO">ROJO</ion-select-option>
          <ion-select-option value="VERDE">VERDE</ion-select-option>
          <ion-select-option value="TABLAS">TABLAS</ion-select-option>
        </ion-select>
      </div>
      <div class="item-go"><a href="{{item.url}}" target="_blank"><ion-icon name="open"></ion-icon></a></div>
      <div class="item-delete"><ion-icon name="trash" class="red cursor-pointer" (click)="delete(item)"></ion-icon></div>
    </ion-item>
  </ion-list>

  <div padding *ngIf="data.length < collectionSize; else endOfData" class="grey">
    Scroll down or <a class="cursor-pointer" (click)="loadData()">click</a> for more {{klasses}}....
  </div>
  <ng-template #endOfData>
    <div padding class="grey">
      No more {{klasses}}.
    </div>
  </ng-template>

  <ion-infinite-scroll threshold="80%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more {{klasses}}...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
<ion-content>
