<div class="got-home">GOT IT</div>

<app-header title="Home"></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="center">
          <img src="assets/images/logo.png" />
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="center">
        <h2 style="color: grey">Chirp chirp chirp!</h2><br />
      </ion-col>
    </ion-row>

    <div class="text">
      <ion-row class="ion-align-items-center">
        <ion-col><app-menu></app-menu></ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <br />
</ion-content>
