<div class="got-home">GOT IT</div>

<app-header title="Home"></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="center">
        <div>
          <img src="assets/images/logo.png" />
        </div>
      </ion-col>
    </ion-row>

    <div class="text">
      <ion-row>
        <ion-col class="left">
          This is the Binary Trees generic web application.  It demonstrates the basic functionality
          that is common to most web applications and can serve as a starting point for most new projects.
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="left">
          The front end of this application is built on the <a href="https://angular.io/">Angular</a> flavor
          of the <a href="https://ionicframework.com/">Ionic Framework.</a>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="left">
          The back end is built with <a href="https://rubyonrails.org/">Ruby on Rails</a>,
          with a <a href="https://laravel.com/">PHP/Laravel</a> version of the server in the works.  My goal it to make the same
          client code work with either server interchangeably.
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
