@import '../styles/colors.scss';

ion-item div {
  white-space: nowrap;
  padding-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-date {
  width: 10rem;
}

.item-level {
  width: 7rem;
}

.item-text {
  width: auto;
}

.item-go {
  width: 5%;
}
